@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
p,
span,
li,
ul,
input,
pre {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0 !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 8px !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.centering {
  max-width: 1728px;
  padding: 0 5%;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  max-width: 1110px !important;
  margin: 0 auto;
  padding: 0 10px;
}

.gap-30 {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.b-radius {
  border-radius: 8px;
}

.green_btn {
  background: #00b346;
  color: #ffffff;
}

.more_btn {
  margin: 0 auto;
  width: 173px;
  width: calc(149px + 24 * ((100vw - 320px)
        /
        1600));
  height: calc(39px + 4 * ((100vw - 320px)
        /
        1600));
  border: 1px solid #00b346;
  border-radius: 8px;
  cursor: pointer;
}
.more_btn button {
  color: #00b346;
  margin-right: 5px;
  font-size: 18px;
}
.more_btn img {
  position: relative;
  top: 2px;
}

.rec_content {
  overflow: hidden;
  width: 100%;
}
.rec_content h2 {
  color: #383c45;
}
.rec_content__cards {
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.rec_content__card {
  max-width: 340px;
  width: 100%;
  border-radius: 30px;
  background: #ffdf6e;
  height: 320px !important;
  position: relative;
  margin-right: calc(16px + 14 * ((100vw - 320px)
        /
        1600));
}
.rec_content__card img {
  position: absolute;
  right: 0;
  bottom: 0;
  filter: grayscale(10%);
}
.rec_content__card h4 {
  font-size: calc(18px + 6 * ((100vw - 320px)
        /
        1600));
  color: #383c45;
}
.rec_content__card p {
  color: #383c45;
}
.rec_content__card button {
  padding: 5px 0;
  width: 140px;
  position: relative;
  z-index: 1;
}

.interest_content h2 {
  color: #383c45;
}
.interest_content__card {
  height: 212px;
  border-radius: 30px;
  position: relative;
  color: #ffffff;
}
.interest_content__card_img1 {
  position: absolute;
  right: 30px;
  bottom: -3px;
  width: calc(176px + 24 * ((100vw - 320px)
        /
        1600));
  height: calc(193px + 15 * ((100vw - 320px)
        /
        1600));
}
.interest_content__card_img2 {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 130px;
  height: 160px;
}
.interest_content__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.interest_content__card p:nth-of-type(2) {
  width: 60%;
}
.interest_content__card button {
  padding: 5px 20px;
  font-size: 16px;
  position: absolute;
  bottom: 24px;
}
.interest_content .big_card {
  background: #00b346;
}
.interest_content .little_card {
  background: #fff4d4;
  color: #383c45;
}
.interest_content .light_btn {
  color: #383c45;
  background: #ffdf6e;
}

.news {
  overflow: hidden;
}
.news_content h2 {
  color: #383c45;
}
.news_content__card {
  max-width: 245px;
  width: 100%;
}
.news_content__card img {
  width: 100%;
  height: 144px;
}

@media (max-width: 1000px) {
  .interest_content__card_img2 {
    right: 10px;
    width: 120px;
    height: 160px;
  }
}
@media (max-width: 800px) {
  .rec_content__card {
    max-width: 300px;
    height: 290px;
  }
  .interest_content__card p:nth-of-type(2) {
    width: 55%;
  }
  .interest_content__card_img1 {
    bottom: -4px;
    right: 10px;
  }
}
@media (max-width: 700px) {
  .interest_content__card_img2 {
    right: 10px;
    width: 100px;
    height: 120px;
  }
  .news {
    overflow: hidden;
  }
  .news_content h2 {
    color: #383c45;
  }
  .news_content__card {
    max-width: 210px;
  }
  .news_content__card img {
    height: 118px;
  }
}
@media (max-width: 650px) {
  .interest_content__card_img1 {
    right: 5px;
  }
  .interest_content__card_img2 {
    display: none;
  }
}
@media (max-width: 577px) {
  .interest_content__card p:nth-of-type(2) {
    width: 60%;
  }
  .interest_content__card_img2 {
    display: block;
    right: 10px;
    width: 130px;
    height: 160px;
  }
}
@media (max-width: 444px) {
  .rec_content__card {
    max-width: 286px;
    height: 260px;
  }
  .interest_content__card p:nth-of-type(2) {
    width: 50%;
  }
  .interest_content__card_img2 {
    right: 10px;
    width: 130px;
    height: 160px;
  }
}/*# sourceMappingURL=style.css.map */