@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
p,
span,
li,
ul,
input,
pre {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0 !important;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 8px !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

$color_1: #00b346;
$color_2: #ffffff;
$text_1: #383c45;

.centering {
  max-width: 1728px;
  padding: 0 5%;
  box-sizing: border-box;
  margin: 0 auto;
}
.container {
  max-width: 1110px !important;
  margin: 0 auto;
  padding: 0 10px;
}
.gap-30 {
  column-gap: 30px;
}
.b-radius {
  border-radius: 8px;
}
.green_btn {
  background: $color_1;
  color: $color_2;
}

.rec {
  &_content {
    & h2 {
      color: $text_1;
    }
    &__cards {
      column-gap: 33px;
    }
    &__card {
      border-radius: 30px;
      background: #ffdf6e;
      width: 350px;
      height: 320px;
      position: relative;
      padding: 30px 0 30px 20px;
      & img {
        position: absolute;
        right: 0;
        bottom: 0;
        filter: grayscale(10%);
      }
      & h4 {
        font-size: 24px;
        color: $text_1;
      }
      & p {
        color: $text_1;
      }
      & button {
        padding: 5px 0;
        width: 140px;
        position: relative;
        z-index: 1;
      }
    }
    &__more_btn {
      margin: 0 auto;
      width: 173px;
      height: 43px;
      border: 1px solid $color_1;
      border-radius: 8px;
      cursor: pointer;
      button {
        color: $color_1;
        margin-right: 5px;
        font-size: 18px;
      }
      img {
        position: relative;
        top: 2px;
      }
    }
  }
}

.interest {
  &_content {
    & h2 {
      color: $text_1;
    }
    &__card {
      padding: 30px;
      height: 212px;
      border-radius: 30px;
      position: relative;
      color: $color_2;
      & img {
        position: absolute;
        right: 30px;
        bottom: 0;
      }
      & button {
        padding: 5px 20px;
        font-size: 16px;
        position: absolute;
        bottom: 24px;
      }
    }
    .big_card {
      width: calc(60% - 15px);
      background: $color_1;
    }
    .little_card {
      width: calc(40% - 15px);
      background: #fff4d4;
      color: $text_1;
    }
    .light_btn {
      color: #383c45;
      background: #ffdf6e;
    }
  }
}
.news {
  &_content {
    & h2 {
      color: $text_1;
    }
    &__card {
      width: calc(25% - 22px);
      img {
        width: 100%;
        height: 144px;
      }
    }
  }
}
